{% include "sections/header.twig" %}
	<div class="yui-b">
        {% include "sections/side_nav.twig" %}
    </div>
    <div class="yui-main">
        <div class="yui-b">
            <h2>{{ C.param('action').Name }}</h2>
            <table>
	            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Shop name</th>
                <th>Token</th>
                <th>Is Active</th>
                <th>Run as</th>
	            </tr>
	            {% for v in shopUser %}
	            <tr valign="top">
                <td>{{ v.Username }}</td>
                <td>{{ v.Email }}</td>
                <td>{{ v.Role }}</td>
                <td>{{ v.Shop }}</td>
                <td>{{ v.RecoveryToken }}</td>
                <td>{{ v.IsActive ? "Yes" : "No" }}</td>
                <td><a href="{{ ('/market/shop/runas?id=' ~ v.Id) | php('sign') }}">Run as</a></td>
	            {% else %}
	              <td colspan="5">Empty.</td>
	            {% endfor %}
	            </tr>
            </table>
        </div>
    </div>
{% include "sections/footer.twig" %}