<script>
  $(function() {
    var jPop = RW.shopCal.jCalPop;

    $('#calendar-daily-view').selectable({
      filter: '.tdItem',
      distance : 1, // http://forum.jquery.com/topic/selectable-dosn-t-fire-click-event
      stop: function(evt) {
        var i=-1, j=-1, error, jSelect = $(this).find(".ui-selected");
        jSelect.each(function() {
          var slot_id = $(this).parent().attr('data-slot');
          var resource_id = $(this).parent().attr('data-resource');
          if ( i<0 ) {
            i = slot_id;
            j = resource_id;
            i++;
          } else if (i == slot_id || resource_id == j) {
            i++;
          } else {
            error = 1;
          }
        });
        if (error) {
          RW.notifyError("Select continous time slots and do NOT cross multiple resources");
          jSelect.removeClass('ui-selected');
        } else {
          jPop.popover('show', evt);
        }
      }
    });
  });
</script>
<h2>
  <span data-m="{{month}}" data-y="{{year}}" class="fake-link calendar-nav float-left">&laquo; Monthly view</span>
  <div id="calendar-title-blk">
    <span data-date="{{prevDay}}" class="phpc-date float-left fake-link">&laquo;</span>
    <span data-date="{{nextDay}}" class="phpc-date float-right fake-link">&raquo;</span>
    <span id="calendar-daily-date" class="phpc-date" data-date="{{day}}">{{dt.format("M j")}}<span class="suffix">{{dt.format("S")}}</span>, {{dt.format("Y D")}}</span>
  </div>
</h2>
<div id="calendar-container">
<table id="calendar-daily-view" class="phpc-calendar">
  {% set cols = resource_ids|php('count') %}
  {% set rows = fixSlots[0]|php('count') %}
  <tr>
    <th class="time-col">Time</th>
    {% for i, nm in resource_names %}
      <th width="{{100 / cols}}%" class="resource">{{nm}}</th>
    {% endfor %}
  </tr>
  {%- for i in 0..(rows-1) -%}
  <tr>
    <td>{{fullTimes[i]}}</td>
    {%- for j in 0..(cols-1) -%}
    {% set slot = fixSlots[j][i] %}
    {% if slot %}
      {% if not slot.IsFree %}
        <td class="booked {{ slot.FromNow < 0 ? 'slot-past' : slot.FromNow == 0 ? 'slot-now res-slot' : 'res-slot' }}" data-event="{{slot.EventId}}" data-resource="{{resource_ids[j]}}" rowspan="{{slot.NumSlots}}" width="{{100 / cols}}%" height="{{slot.NumSlots}}em">
          {{slot.EventName}}
          {{slot.EventPhone}}
          {{slot.EventNotes}}
        </td>
      {%- else -%}
        <td class="{{ slot.FromNow < 0 ? 'slot-past' : slot.FromNow == 0 ? 'slot-now res-slot' : 'res-slot' }}" data-slot="{{slot.SlotID}}" data-resource="{{resource_ids[j]}}" width="{{100 / cols}}%" height="1em">
          {% if slot.FromNow > 0 %}<div class="tdItem">&nbsp;</div>{% else %}&nbsp;{% endif %}
        </td>
      {%- endif -%}
    {% endif %}
    {%- endfor -%}
  </tr>
  {%- endfor -%}
</table>
</div>