<h2>
    <div id="calendar-title-blk">
      <span data-m="{{prev_month}}" data-y="{{prev_year}}" class="float-left fake-link calendar-nav">&laquo;</span>
      <span data-m="{{next_month}}" data-y="{{next_year}}" class="float-right fake-link calendar-nav">&raquo;</span>
      {{title_month}}
    </div>
</h2>

<table class="phpc-calendar">
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
  </thead>
  <tbody>
    {% set dd = 1 %}
    {% for i in 1..month_week_span %}
      <tr>
      {% for j in 0..6 %}
        {%- set output = (i==1 and j >= (month_first_wkday % 7)) or (i==month_week_span and j <= (month_last_wkday % 7)) or (i!=1 and i!=month_week_span) -%}
        {%- if output %}
          <td data-date="{{year~'-'~month~'-'~dd}}" class="phpc-date calendar-day {{ from_now_month > 0 ? 'future' : from_now_month < 0 ? 'past' : dd > now_day ? 'future' : dd < now_day ? 'past' : 'today' }}">
              <div class="date-title">{{dd}}</div>
              <ul class="day-calendar">
                {% if month_calendar[dd][1] %}<li>~ 10AM  <span class="float-right"><b>{{month_calendar[dd][1]}}</b></span></li>{% endif %}
                {% if month_calendar[dd][2] %}<li>10AM~noon <span class="float-right"><b>{{month_calendar[dd][2]}}</b></span></li>{% endif %}
                {% if month_calendar[dd][3] %}<li>noon~2PM <span class="float-right"><b>{{month_calendar[dd][3]}}</b></span></li>{% endif %}
                {% if month_calendar[dd][4] %}<li>2PM ~ <span class="float-right"><b>{{month_calendar[dd][4]}}</b></span></li>{% endif %}
              </ul>
          </td>
          {% set dd = dd + 1 %}
        {% else %}
          <td>&nbsp;</td>
        {% endif -%}
      {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
