{% import 'macro/zf-form.twig' as form -%}
{% import 'macro/widget.twig' as widget -%}
{{ C.loadJS('util/country-region.js') -}}
{% include "sections/header.twig" -%}
	<div class="yui-b">
    {% include "sections/side_nav.twig" %}
  </div>
  <div class="yui-main">
    <div class="yui-b">
        <h3>{{ C.param('action').Name }}</h3>
        {{ form.begin({"method":"post", "action":"/shop/customer/new", "id":"new-customer-form"}) }}
            {{ form.text({
              "name" : "Email",
              "label" : "Email",
              "value" : customer.Email,
              "help" : "If the customer provide a email, they can login in and do lots of stuff by themself. But, it has to be unique."
            }) }}
            {{ form.radio({
              "name" : "Title",
              "label" : "Salutation",
              "options": {
                "Mr" : "Mr.",
                "Mrs" : "Mrs.",
                "Ms" : "Ms."
              },
              "value": customer.OdometerUnit|default("km"),
              "cols"  : 3
            }) }}
            {{ form.text({
              "name" : "FirstName",
              "label" : "First Name",
              "value" : customer.FirstName
            }) }}

            {{ form.text({
              "name" : "LastName",
              "label" : "Last Name",
              "value" : customer.LastName
            }) }}
            {{ form.text({
              "name" : "Phone",
              "label" : "Phone",
              "value" : customer.Phone,
              "help" : "Format: 123-456-7890"
            }) }}
        <h5 class="section">Extra information</h5>
            {{ form.text({
              "name" : "Cell",
              "label" : "Cell",
              "value" : customer.Cell,
              "push_label" : 1
            }) }}
            {{ form.text({
                "name" : "Address",
                "label" : "Street Address",
                "value" : customer.Address
            }) }}
            {{ form.select_country({
                "name" : "Country",
                "label" : "Country"
            }) }}
            {{ form.select_region({
              "name" : "Province",
              "label" : "Province / State"
            }) }}
            {{ form.text({
              "name" : "Postal",
              "label" : "Postal/Zip",
              "value" : customer.Postal
            }) }}
            {{ form.text({
              "name" : "RewardPoint",
              "label" : "Reward point",
              "value" : customer.RewardPoint
            }) }}
            {{ form.select({
              "name" : "RefererId",
              "label" : "Referred by",
              "value" : customer.RefererId,
              "help"  : "select customer"
            }) }}
            {{ form.textarea({
                "name" : "Notes",
                "label" : "Notes",
                "value" : customer.Notes
            }) }}
            <dd>
              {{ form.submit({"input_only":true, "value":"Add Customer","id":"add-new"}) }}
            </dd>
        {{ form.end() }}
    </div>
  </div>
{% include "sections/footer.twig" %}