{{ C.loadCSS('side_nav.css') }}
{% import 'macro/panel.twig' as panel -%}
{% import 'macro/widget.twig' as widget -%}

{% for category, actions in C.param('acl').rightActions() -%}
  {# menu , category #}
  {% if loop.first %}
    {{ panel.begin(category, 'light-grey', 'side-nav-menu') }}
  {% else %}
    {{ panel.section(category) }}
  {% endif %}

  {# sub menu action #}
  <ul class="side-nav">
    {% for act in actions -%}
      <li>{{ widget.menu_link("/" ~ act.path, act.name, server) }}</li>
    {% endfor %}
  </ul>

  {% if loop.last %}
    {{ panel.end() }}
  {% endif %}
{% endfor %}

{#% if C.hasLogin() %}
    {{ panel.begin('Customer', 'light-grey', 'side-nav-menu') }}
        <ul class="side-nav">
            <li>{{ widget.menu_link("/customer/new", "New", server) }}</li>
            <li>{{ widget.menu_link("/customer/search", "Search", server) }}</li>
            <li>{{ widget.menu_link("/customer/history", "History", server) }}</li>
        </ul>
        {{ panel.section('Report') }}
        <ul class="side-nav">
            <li><a href="#">Shop Bookkeeping</a></li>
            <li><a href="#">Payroll</a></li>
        </ul>
        {{ panel.section('Setup') }}
        <ul class="side-nav">
            <li><a href="#">Account</a></li>
            <li><a href="#">Bill</a></li>
            <li><a href="#">Message Box</a></li>
        </ul>
    {{ panel.end() }}
{% endif %#}



