{# need php to maintain status between the call, that is why 'zf-form'|php(counter) #}
{% macro begin(options) %}
    {% set options = options|default({}) %}
    <form method="{{ options.method|default('post') }}"
        action="{{ options.action|default('#') }}"
        {%- if options.upload %} enctype="multipart/form-data"{% endif %}
        {%- if options.id %} id="{{ options.id }}"{% endif %}
        class="def-form{%-
           if options.class %} {{ options.class }}{% endif -%}{%
           if options.columnar %} columnar cols{{options.columnar-}}
              {{- 'zf-form'|php('counter', options.columnar) -}}
              {{- 'zf-form-col'|php('static', options.columnar) -}}
            {%- endif
            %}">
{% endmacro %}

{% macro end() %}
    </form>
{% endmacro %}

{% macro _begin (options) %}
    {% if not options.input_only %}
      {% set c = 'zf-form'|php('counter') %}
      {% set c_num = 'zf-form-col'|php('static') %}
      {# start of dl container #}
      <dl class="def-input
        {%- if c>0 -%}
          {%- if c % c_num == 0 %} new{% endif -%}
          {%- if options.colspan -%}
            {{- ' span'~options.colspan -}}
            {%- for i in 1..options.colspan %}{{'zf-form'|php('counter', '++')}}{% endfor -%}
          {%- else -%}
            {{-'zf-form'|php('counter', '++')-}}
          {%- endif -%}
          {% set c = 'zf-form'|php('counter') %}
          {%- if c % c_num == 0 %} end{% endif -%}
        {%- endif %}">

        {# label #}
        {% if options.label %}
          {% if options.push_label %}<div class="push-lable"></div>{% endif %}
          <dt id="{{options.name}}-label"><label>{{options.label}}{% if options.required %}<span class="mark-required">*</span>{% endif %}</label></dt>
        {% endif %}

        {# start of dd #}
        <dd id="{{options.name}}-element" class="{{options.error?'has-error':''}}">
    {% endif %}
{% endmacro %}
{% macro _end (options) %}
    {%- if not options.input_only -%}
      {%- set c = 'zf-form'|php('counter') -%}
      {%- set c_num = 'zf-form-col'|php('static') -%}
          {%- if options.help -%}
          <span class="help-bk">
            <span class="pointer"></span>
            <span class="help">{{ options.help|raw }}</span>
          </span>
          {%- endif -%}
          <span class="error-bk">
            <span class="pointer"></span>
            <span class="error">{{ options.error }}</span>
          </span>
        </dd>
      </dl>
      {%- if c>0 and c % c_num == 0 -%}<div class="cleaner"></div>{% endif %}
    {% endif %}
{% endmacro %}

{# hold a place  for columnar case #}
{% macro holder(options) %}
    {{- _self._begin(options) }}
    {{- ' ' -}}
    {{- _self._end(options) }}
{% endmacro %}

{% macro text(options) %}
    {{- _self._begin(options) }}
    <input type="text"
       class="text {{options.class}}"
       name="{{ options.name }}"
       id="{{ options.id|default(options.name) }}"
       tabindex="{{ options.tabindex }}"
       {% if options.value %}value="{{ options.value|e }}"{% endif -%}
       {% if options.disabled %}disabled="disabled"{% endif -%}
       {% if options.placeholder %}placeholder="{{ options.placeholder|e }}"{% endif -%} />
    {{- _self._end(options) }}
{% endmacro %}

{% macro radio(options) %}
    {{- _self._begin(options) }}
    {% for val,txt in options.options %}
        {% set cell %}
        <label for="{{ options.name }}-{{ val }}">
            <input type="radio" class="radio {{options.class}}"
               name="{{ options.name }}"
               id="{{ options.name }}-{{ val }}"
               value="{{ val }}"
               {% if val==options.value %}checked="checked"{% endif %}
               {% if options.disabled %}disabled="disabled"{% endif %}
            />{{ txt|raw -}}
        </label>
        {% endset %}

        {% if options.cols %}
            {% if loop.first %}<table class="zf-form-set">{% endif %}
            {% if loop.index0 is divisibleby(options.cols) %}<tr>{% endif %}
                <td>{{ cell|raw }}</td>
            {% if (loop.index0 + 1) is divisibleby(options.cols) %}</tr>{% endif %}
            {% if loop.last -%}</table>{% endif %}
        {% else %}
            {{ cell|raw }}
        {% endif %}

    {% endfor %}
    {{- _self._end(options) }}
{% endmacro %}

{% macro select(options) %}
    {{- _self._begin(options) }}
    <select name="{{ options.name }}" class="select {{options.class}}"
       {%- if options.id %} id="{{options.id}}"{% endif -%}
       {%- if options.disabled %}disabled="disabled"{% endif -%}>
       {%- if options.first_blank %}<option value="">-- {{options.first_blank}} --</option>{% endif -%}
       {% for val,txt in options.options %}
            <option value="{{ val }}"
                {% if val==options.value %}selected="selected"{% endif %}>
                {{- txt|raw -}}
            </opsion>
       {% endfor %}
    </select>
    {{- _self._end(options) }}
{% endmacro %}

{% macro button(options) %}
    {{- _self._begin(options) }}
    <input type="button"
       {% if options.id %}id="{{options.id}}"{% endif -%}
       {% if options.name %}name="{{options.name}}"{% endif -%}
       class="button btn{{ options.class ? ' '~options.class : ''}}{{ options.secondary ? '' : ' primary'}}"
       value="{{options.value|raw}}" />
    {{- _self._end(options) }}
{% endmacro %}

{% macro info(options) %}
    {{- _self._begin(options) }}
        {{options.value|raw}}
    {{- _self._end(options) }}
{% endmacro %}

{% macro password(options) %}
    {{- _self._begin(options) }}
    <input type="password"
       class="password {{options.class}}"
       name="{{ options.name }}"
       id="{{ options.id|default(options.name) }}"
       tabindex="{{ options.tabindex }}"
       {% if options.value %}value="{{ options.value|e }}"{% endif -%}
       {% if options.disabled %}disabled="disabled"{% endif -%}
       {% if options.placeholder %}placeholder="{{ options.placeholder|e }}"{% endif -%} />
    {{- _self._end(options) }}
{% endmacro %}

{% macro textarea(options) %}
    {{- _self._begin(options) }}
       <textarea
           class="textarea {{options.class}}"
           name="{{ options.name }}"
           id="{{ options.id|default(options.name) }}"
           tabindex="{{ options.tabindex }}"
           {% if options.readonly %}readonly="readonly"{% endif -%}
           {% if options.disabled %}disabled="disabled"{% endif -%}
           {% if options.placeholder %}placeholder="{{ options.placeholder|e }}"{% endif -%}
        >{{- options.value|e -}}
        </textarea>
    {{- _self._end(options) }}
{% endmacro %}


{% macro checkbox(options) %}
    {{- _self._begin(options) }}

    {% for val,txt in options.options %}
        {% set cell %}
        <label for="{{ options.name }}-{{ val }}">
            <input type="checkbox" class="checkbox {{options.class}}"
               name="{{ options.name }}"
               id="{{ options.name }}-{{ val }}"
               value="{{ val }}"
               {% if val==options.value or (val in options.value)  %}checked="checked"{% endif %}
               {% if options.disabled %}disabled="disabled"{% endif %}
            />{{- txt|raw -}}
        </label>
        {% endset %}

        {% if options.cols %}
            {% if loop.first %}<table class="zf-form-set">{% endif %}
            {% if loop.index0 is divisibleby(options.cols) %}<tr>{% endif %}
                <td>{{ cell|raw }}</td>
            {% if (loop.index0 + 1) is divisibleby(options.cols) %}</tr>{% endif %}
            {% if loop.last -%}
                </table>
                {% if options.check_all -%}
                    <label class="all-in-out" for="{{ options.name }}-all" title="(un)check all options">
                        <input class="checkbox all" type="checkbox" id="{{ options.name }}-all">All
                    </label>
                {% endif -%}
            {% endif %}
        {% else %}
            {{ cell|raw }}
        {% endif %}
    {% endfor %}

    {{- _self._end(options) }}
{% endmacro %}

{% macro submit(options) %}
    {{- _self._begin(options) }}
    <input type="submit"
       {% if options.id %}id="{{options.id}}"{% endif -%}
       {% if options.name %}name="{{options.name}}"{% endif -%}
       class="button btn primary{{ options.class ? ' '~options.class : ''}}"
       value="{{options.value|raw}}" />
    {{- _self._end(options) }}
{% endmacro %}

{% macro cancel(options) %}
    {{- _self._begin(options) }}
    <input type="button"
       {% if options.id %}id="{{options.id}}"{% endif -%}
       {% if options.name %}name="{{options.name}}"{% endif -%}
       class="button btn {{ options.class ? ' '~options.class : ''}}"
       value="{{options.value|raw}}" />
    {{- _self._end(options) }}
{% endmacro %}

{% macro set(options) %}
    {{- _self._begin(options) }}
    {{- _self._end(options) }}
{% endmacro %}

{% macro file(options) %}
    {{- _self._begin(options) }}
    <input type="file"
        class="file {{options.class}}"
        name="{{ options.name }}"
        id="{{ options.id|default(options.name) }}"
        tabindex="{{ options.tabindex }}"
        {% if options.accept %}accept="{{ options.accept }}"{% endif -%}
        {% if options.disabled %}disabled="disabled"{% endif -%}
        {% if options.placeholder %}placeholder="{{ options.placeholder|e }}"{% endif -%} />
        {% if options.value -%}
            {{- options.value|e -}}
            <input type="checkbox" name="delete_{{ options.name }}" value="1" /> delete
        {%- endif -%}
    {{- _self._end(options) }}
{% endmacro %}

{% macro select_country(options) %}
  {% set country_code %}{% include 'macro/country-US-CA.json.twig' with {"country": options} %}{% endset %}
  {{ _self.select({
    "name":options.name|default('country_code'),
    "label": options.label|default('Country'),
    "options": country_code|php('json_decode', true),
    "first_blank": "select country"
  }) }}
  {# push value to util/country-region.js #}
  <script type="text/javascript">
    RW.CountryRegion.input.country.push({
      "name": "{{ options.name }}",
      "value": "{{ options.value }}"
    })
  </script>
{% endmacro %}

{% macro select_region(options) %}
    {{ _self.select({
        "name":options.name,
        "label": options.label,
        "options": {},
        "first_blank": "select region"
    }) }}
    {# push value to util/country-region.js #}
    <script type="text/javascript">
      RW.CountryRegion.input.region.push({
        "name": "{{ options.name }}",
        "value": "{{ options.value }}"
      })
    </script>
{% endmacro %}